.env
.env.local
data/raw/*.jsonl.gz
data/raw/*.json
data/raw/
data/processed/*.pkl
data/processed/*.pickle
data/processed/*.faiss
data/processed/*.index
data/processed/*.parquet
data/processed/semantic_index
__pycache__/
*.py[cod]
.DS_Store
venv/
env/
.ipynb_checkpoints/
.vscode/
.idea/
.Rhistory
.DS_Store