DATA_RAW_PATH=./data/raw
DATA_PROCESSED_PATH=./data/processed
RESULTS_PATH=./results
EMBEDDING_MODEL=all-MiniLM-L6-v2
BM25_INDEX_PATH=./data/processed/bm25_index.pkl
FAISS_INDEX_PATH=./data/processed/faiss_index
